.profile {
    display: flex;
}

.profile-left {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.profile-right {
    width: 60%;
}

.profile-box {
    border: solid 3px black;
    border-radius: 5%;
    padding: 20px;
    margin: 10px;
}
