.profile {
    display: flex;
}

.profile-left {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.profile-right {
    width: 50%;
}

.profile-box {
    border: solid 3px black;
    border-radius: 5%;
    padding: 20px;
    margin: 10px;
}

.review-buttons {
    display: flex;
    width: 12rem;
    justify-content: space-between;
}