div.rageRankings {
    display: flex;
}

div.rageReviews {
    border: solid 3px #1a2f17;
    border-radius: 5%;
    padding: 20px;
    margin: 10px;
    width: 60%;
}

div.rageUsers {
    border: solid 3px #1a2f17;
    border-radius: 5%;
    padding: 20px;
    margin: 10px;
    width: 40%;
}

.review-buttons {
    display: flex;
    width: 12rem;
    justify-content: space-between;
}

.rageFlex {
    display: flex;
    justify-content: space-around;
}

.rageText {
    width: 50%;
}

.rageImage {
    width: 50%;
}

.rageUserList {
    padding: 20px;
}

.rageUserItem {
    margin-top: 20px;
    text-decoration: none;
    color: #053e65;
    font-family: "Pragmata";
    font-size: 16px;
    font-weight: 580;
}

.rageUserItem:hover {
    text-decoration: underline;
  }