.review {
    border: 2px dashed black;
    box-shadow: rgb(106, 178, 250) 3px 1px 8px 0px, rgb(153, 199, 246) -3px -1px 8px 0px;
    background-color:bisque;
    padding: 20px;
    margin: 20px;
    margin-top: 30px;
    width: 80%;
}

.review-buttons {
    margin-top: 8px;
    display: flex;
    width: 12rem;
    justify-content: space-between;
}

.honoredButton {
    border: 1px solid;
    background-color:goldenrod;
    color: rgb(6, 5, 5);
}

.enragedButton {
    border: 1px solid;
    background-color:firebrick;
    color:rgb(6, 5, 5)
}

.reviewFull {
    border: solid 3px black;
    border-radius: 5%;
    padding: 20px;
    margin: 10px;
    width: 94%;
}

.reviewFull__body {
    border: 2px dotted black;
    background-color:bisque;
    width: 60%;
    margin-top: 50px;
    padding: 20px;
    box-shadow: rgb(106, 178, 250) 3px 1px 8px 0px, rgb(153, 199, 246) -3px -1px 8px 0px;
}


img {
    max-width: 50%;
    height: auto;
    box-shadow: rgb(106, 178, 250) 3px 1px 8px 0px, rgb(153, 199, 246) -3px -1px 8px 0px;
  }