.userReviews {
    display: flex;
    justify-content: space-around
}

.userReviews-left {
    border: solid 3px black;
    border-radius: 5%;
    padding: 20px;
    margin: 10px;
    width: 45%;
}

.userReviews-right {
    border: solid 3px black;
    border-radius: 5%;
    padding: 20px;
    margin: 10px;
    width: 55%;
}

.userReviews-dropdown {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
}

.select-box {
    width: 60%;
    height: auto;
}

#userReviewsSearchButton {
    margin-top: 8px;
}

#userReviewsSearchBox {
    width: 60%;
    height: auto;
    
}

.review-buttons {
    display: flex;
    width: 12rem;
    justify-content: space-between;
}