.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: dodgerblue;
    border: 2px solid;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
}

.navbar__logout {
    margin-left: auto;
}

